@import "../../responsive.scss";
.singlePage {

    display: flex;
    height:100%;
    @include md{
        flex-direction: column;
        overflow: scroll;    
    }
    .details {
        height: 100%;
        overflow-y: scroll;
        flex: 3;
        padding-bottom: 20px;
        
        @include md{
            flex:none;
            height: max-content;
            margin-bottom: 50px;
           
        }
        .wrapper {
            padding-right: 30px;
            @include md{
                padding: 0;
            }
            .info {
                margin-top: 30px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .postInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h1 {
                            font-weight: 400;
                        }

                        .address {
                            display: flex;
                            align-items: center;
                            color: #888;
                            font-size: 14px;

                            img {
                                width: 16px;
                                height: 16px;
                            }

                        }

                        .price {
                            padding: 5px;
                            background-color: #fecd5170;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                            border-radius: 5px;
                            .rupee{
                                width:15px;
                                height: 15px;
                            }
                        }
                    }

                    .userInfo {
                        background-color: #fecd5170;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        padding: 0px 50px;
                        font-weight: 600;
                        border-radius: 10px;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .bottom {
                    margin-top: 50px;
                    color: #555;
                    line-height: 20px;
                }
            }

        }
    }

    .features {
        flex: 1.5;
        height: 100%;
        overflow-y: scroll;

        background-color: #fcf5f3;
        // height: max-content;
        padding-bottom: 20px;
        @include md{
            padding-top:20px ;
            flex:none;
            height: max-content;
        }
        .wrapper {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {

                font-weight: bold;
                font-size: 18px;
                margin-bottom: 10px;

            }

            img {
                width: 24px;
                height: 24px;
            }

            .feature {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    background-color: #fecd5170;
                    border-radius: 5px;
                }

                .featureText {
                    span {
                        font-weight: bold;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            .listVertical {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px 10px;
                background-color: white;
                border-radius: 10px;
            }

            .listHorizontal {
                display: flex;
                justify-content: space-between;
                background-color: white;
                padding: 20px 10px;
                border-radius: 10px;
                @include md{
                    padding: 20px 5px;
                    font-size: 14px;
                    gap:5px;
                }
            }

            .sizes {
                display: flex;
                justify-content: space-between;
                @include lg{
                    font-size: 12px;
                }
                .size {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            .mapContainer {
                width: 100%;
                height: 200px;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                @include sm{
                    justify-content: space-around;
                }
                button {
                    padding: 20px;
                    
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: white;
                    border:1px solid #fecd5170 ;
                    border-radius: 5px;
                    cursor: pointer;
                    @include sm{
                        padding: 10px;
                    }
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}