*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

::-webkit-scrollbar{
    width:4px;
    
}
::-webkit-scrollbar-thumb {
    background: #464646; 
    
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background : #464646aa; 
  }
a{
    text-decoration:none;
    color:inherit;
}

body{
    font-family:"Lato",sans-serif;
    overflow:hidden;
}
