@import "../../responsive.scss";
.card{
    display: flex;
    gap:20px;

    .imgContainer{
        flex:2;
        height: 200px;
        @include sm{
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: 10px;
        }
    }
    .textContainer{
        flex:3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .title{
            font-size: 20px;
            font-weight: 600;
            color:#444;
            transition:all 0.4s ease;
            &:hover{
                color:#000;
                scale:1.01;
            }
        }
        img{
            width: 16px;
            height: 16px;
        }
        .address{
            font-size: 14px;
            display: flex;
            gap:5px;
            align-items: center;
            color:#888;
        }
        .price{
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            background-color: #fecd5170;
            width:max-content;
            .rupee{ 
                 width:10px;
               
            }
        }
        .bottom{
            display: flex;
            gap:10px;
            justify-content: space-between;
            .features{
                display: flex;
                gap:20px;
                font-size: 14px;

                .feature{
                    display: flex;
                    align-items: center;
                    gap:5px;
                    background-color: whitesmoke;
                    padding:5px;
                    border-radius:5px;
                }
            }
            .icons{
                display:flex;
                gap:20px;
                .icon{
                    border:1px solid #999;
                    padding:2px 5px;
                    border-radius:5px;
                    cursor: pointer;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    &:hover{
                        background-color: lightgray;
                    }
                }
            }
        }
    }
    
}