@import "../../responsive.scss";
.layout{
    
    height: 100vh;
    // overflow-y:scroll;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    @include lg{
        // background-color: rgb(199, 240, 240);
        max-width: 1280px;
    }
    @include md{
        // background-color: rgb(237, 237, 176);
        max-width: 768px;
    }
    @include sm{
        // background-color: rgb(238, 172, 172);
        max-width: 640px;
    }
    .content{
        flex:1;
        // height: 100vh;
        height: calc(100vh - 100px);
    }
}