@import "../../responsive.scss";
.slider{
    width: 100%;
    height: 350px;
    display: flex;
    gap:20px;
    .fullSlider{
        position: absolute;
        z-index:9999;
       
        width: 100vw;
        height: 100vh;
        top:0;
        left: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .arrow{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 50px;
                &.right{
                    transform: rotate(180deg);
                }
                @include md{
                    width: 30px;
                }
                @include sm{
                    width: 20px;
                }
            }
        }
        .imgContainer{
            flex:10;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .close{
            position: absolute;
            top: 0;
            right: 0;
            color:#fff;
            font-size:36px;
            font-weight: bold;
            padding:20px 50px;
            cursor:pointer;
        }
    }
    img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }
    .bigImage{
        flex:3;
       
    }
    .smallImage{
        flex:1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        img{
            height: 100px;
        }
    }
}